<%= form_with scope: :kopi, model: @kopi, local: true do |form| %>


  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.label :roast %><br>
    <%= form.text_area :roast %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>