<h1>Edit Kopi</h1>

<%= form_with scope: :kopi, model: @kopi, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

    <p>
    <%= form.label :roast %><br>
    <%= form.text_field :roast %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', root_path %>