<h1>Edit kopi</h1>

<%= form_with scope: :kopi, model: @kopi, local: true do |form| %>

	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.collection_select :farm_id, @farms, :id, :name %>
	</p>

	<p>
		<%= form.collection_select :roast_id, @roasts, :id, :name %>
	</p>

	<p>
		<%= form.submit %>
	</p>

<% end %>