
<h1>Edit Kopi</h1>
<h1>Edit Kopi</h1>

<%= form_with scope: :kopi, model: @kopi, local: true do |form| %>


  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.label :roastedness %><br>
    <%= form.text_area :roastedness %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>