<h1>Edit Kopi: <%= @kopi.name %></h1>

<%= form_with scope: :kopi, model: @kopi, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

	 <p>
    <%= form.label :roast %><br>
    <%= form.text_field :roast %>
  </p>

  <%= form.collection_select :origin_id, @origins, :id, :location %>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', kopis_path %> 