<h1>All Kopis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>KOPI</th>
  </tr>

  <% @kopis.each do |kopi| %>
    <tr>
          <td><%= kopi.name %></td>
        <td><%= kopi.roast.name %></td>
        <td><%= link_to 'Show', kopi_path(kopi) %></td>
        <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
        <td><%= link_to 'Destroy', kopi_path(kopi),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


</br>
<%= link_to 'Link to Roasts', roasts_path %>
<%= link_to 'Link to Origins', origins_path %>

<% if not user_signed_in? %>
</br>
<%= link_to 'log in', new_user_session_url %>
<% end %>


<% if user_signed_in? %>
</br>
</br>
<%= link_to 'Add a new kopi', new_kopi_path %>
<%= link_to 'Log out', destroy_user_session_url, method: :delete %>
<% end %>