<h1>All Kopis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>KOPI</th>
  </tr>

  <% @kopis.each do |kopi| %>
    <tr>
          <td><%= kopi.name %></td>
        <td><%= kopi.roast.name %></td>
        <td><%= link_to 'Show', kopi_path(kopi) %></td>
        <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
        <td><%= link_to 'Destroy', kopi_path(kopi),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New kopi', new_kopi_path %>
<%= link_to 'log in', new_user_session_url %>