<h1>List of Kopis</h1>

<!--If user is logged in, show create new kopi and logout link. Else, shows only login link.-->
<% if user_signed_in? %>
    <%= link_to 'New Kopi', new_kopi_path %>

    <%= link_to 'log out', destroy_user_session_url, method: :delete %>
<% else %>
    <%= link_to 'log in', new_user_session_url %>
<% end %>

<% @kopis.each do |kopi|  %>
    <table>
        <tr>
            <td>
                <a href="/kopis/<%= kopi.id %>" %><%= kopi.name %></a>
            </td>
            <td>
                <%= link_to 'Edit', edit_kopi_path(kopi) %>
            </td>
        </tr>
    </table>
<% end %>




