<h1>Hello Kopi</h1>

<h5>Filter Coffee?</h5>
<div class="row">
  <div class="input-field col s12">
    <%= form_tag({}, {:method => :get}) do %>
    <%= select_tag :roast, options_for_select(@roasts.collect { |r| r.name}, params[:roast]), include_blank: true, :onchange => "this.form.submit();", class: 'browser-default' %>
    <% end %>
  </div>
</div>

<h2>List of Kopis</h2>
<ul>
<% @kopis.each do |kopi| %>
  <li><a href=<%= kopi.id %>><%= kopi.name %></a> - $<%= kopi.price_per_kg %> per kg</li>
<% end %>

<hr/>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Kopi', new_kopi_path, class: 'waves-effect waves-light btn'%>
<% end %>
