<h2>DISPLAY ALL KOPIS</h2>



<table>
    <tr>
        <th>Kopi Name</th>
        <th>Roast Origin</th>
        <th>Roast Location</th>
        <th>Roast Name</th>
        <th>Price</th>
    </tr>
    <% @kopis.each do |kopi| %>
    <tr>
        <td><a href=<%= "kopis/"+kopi.id.to_s %>><%= kopi.name %></a></td>
        <td><%= kopi.farm.origin %></td>
        <td><%= kopi.farm.location %></td>
        <td><%= kopi.roast.name %></td>
        <td>&nbsp&nbsp$<%= kopi.price %></td>
    </tr>
    <% end %>
</table>

<h2>DISPLAY ALL ORDERS</h2>
<table>
    <tr>
        <th>Order ID</th>
        <th>Order Weight</th>
        <th>Kopi Name</th>
        <th>Kopi Unit Rate</th>
        <th>Sub-Total</th>

    </tr>
    <% @orders.each do |order| %>
    <tr>
        <td><a href=<%="orders/"+order.id.to_s    %>><%= order.id %></a></td>
        <td><%= order.weight %></td>
        <td><%= order.kopi.name %></td>
        <td>&nbsp&nbsp$<%= order.kopi.price %></td>
        <td>&nbsp&nbsp$<%= (order.weight * order.kopi.price).round(2) %></td>
    </tr>
<% end %>
</table>

<h2>DISPLAY ALL CUSTOMERS</h2>
<p>Customer Name</p>

<ul>
<% @customers.each do |customer| %>
    <a href=<%="customers/"+customer.id.to_s %>><li><%= customer.name %></li></a>
<% end %>
</ul>
