<% if user_signed_in? %>
  <%= link_to 'New Kopi', new_kopi_path %>&nbsp;
  <%= link_to 'Logout', destroy_user_session_url, method: :delete %>
<%else%>
  <%= link_to "Login", new_user_session_path %>
<% end %>
<div>
<%= link_to 'All Farms', farms_path %>
</div>
<h1>All Kopis</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Origin Farm</th>
    <th>Roast</th>
    <th>Created By</th>
    <th>Options</th>
  </tr>
  <% @kopis.each do |kopi| %>
    <tr>
      <td><%= kopi.name %></td>
      <td>
        <% @farm = Farm.find(kopi.farm_id) %>
        <%= link_to @farm.name, farm_path(@farm) %>&nbsp;
      </td>
      <td>
        <% @roast = Roast.find(kopi.roast_id) %>
        <%= link_to @roast.name, roast_path(@roast) %>&nbsp;
      </td>
      <td>
        <% if kopi.user_id.is_a? Integer %>
        <% @user = User.find(kopi.user_id) %>
        <%= @user.email %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Show', kopi_path(kopi) %>&nbsp;
        <%= link_to 'Edit', edit_kopi_path(kopi) %>&nbsp;
        <%= link_to 'Destroy', kopi_path(kopi),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>