<h1>Hello Ruby</h1>

<h1>Listing kopis</h1>

<% if user_signed_in? %>
  <%= link_to 'New kopi', new_kopi_path %>

  <% else %>
  <%= link_to 'New kopi', new_kopi_path %>
  <% end %>
  

<%= button_to('Logout', destroy_user_session_path, :method => 'delete')%>

<table>
  <tr>
    <th>Name</th>
    <th>Roast</th>
    <th>Origin</th>
    <th></th>
  </tr>

  <% @kopis.each do |kopi| %>
    <tr>
        <td><%= kopi.name %></td>
        <td><%= kopi.roast.name %></td>
        <td><%= kopi.origin.location %></td>
        <td><%= link_to 'Show', kopi_path(kopi) %></td>
        <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
        <td><%= link_to 'Destroy', kopi_path(kopi),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>