<h2>Kopis</h2>

<%= form_tag(kopis_path, {method: "get", enforce_utf8: false}) do %>
  <%= select_tag(:roastedness,options_from_collection_for_select(@roasts, 'id', 'name',),:include_blank => 'Roasted level', :onchange=>'this.form.submit();' ) %>

<%end%>

<% @kopis.each do |kopi| %>
  <p><%=link_to kopi.name, kopi_path(kopi) %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "add new kopi", new_kopi_path %>
  <%= link_to 'log out', destroy_user_session_url, method: :delete %>
<% else%>
  <%= link_to 'log in', new_user_session_url %>
<% end %>