<% @kopis.each do |kopi| %>
  <p><%= kopi.name %></p>
<% end %>
<%= link_to 'Create Kopi~', new_kopi_path %>
<br>
<br>
<%= link_to 'Create Origin', new_origin_path %>
<br>
<br>
<%= link_to 'Be a Customer Today', new_customer_path %>
<br/>
<br/>
<%= link_to 'All Customers', customers_path%>
