<h1>All Kopis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Roast</th>
    <th>Origin</th>
    <th></th>
  </tr>

  <% @kopi.each do |post| %>
    <tr>
      <td><%= post.name %></td>
      <td><%= post.roast.name %></td>
      <td><%= post.origin.location %></td>
      <td><%= link_to 'Show', kopi_path(post) %></td>
      <td><%= link_to 'Edit', edit_kopi_path(post) %></td>
      <td><%= link_to 'Destroy', kopi_path(post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'New kopi', new_kopi_path %>