<% if user_signed_in? %>
    <% if params[:origin_id].present? %>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Kopi Index</li>
            <li class="breadcrumb-item"><%= link_to 'New Kopi', new_origin_kopi_path %></li>
          </ol>
        </nav>

    <% else %>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Kopi Index</li>
            <li class="breadcrumb-item"><%= link_to 'New Kopi', new_kopi_path %></li>
          </ol>
        </nav>
    <% end %>
<% end %>

<h1>List of Kopis</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% @kopis.each do |kopi|  %>
            <tr>
                <td>
                    <a href="/kopis/<%= kopi.id %>" %><%= kopi.name %></a>
                </td>
                <td>
                    <%= link_to 'Edit', edit_kopi_path(kopi) %>
                </td>
                <td>
                    <%= link_to 'Delete', kopi_path(kopi),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>