<h1>Listing articles</h1>

<table>
  <tr>
    <th>Kopi Name</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @kopis.each do |kopi| %>
    <tr>
      <td><%= kopi.name %></td>
      <td><%= link_to 'Show', kopi_path(kopi) %></td>
      <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
      <td><%= link_to 'Destroy', kopi_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>

<% if user_signed_in? %>
<%= link_to 'New Kopi', new_kopi_path %>
<% end %>


