<h1>Kopi Listing</h1>

<%= link_to 'Sort By Popularity (Ascending)', "#{root_path}?sort=asc", class: 'btn btn-success'  %>
<%= link_to 'Sort By Popularity (Descending)', "#{root_path}?sort=desc", class: 'btn btn-success'  %>
<%# TOASK: what does #{} do inside the  %>
<br>
<br>

<table class="table table-striped">
	<thead>
	  <tr>
	  	<th scope="col">S/N</th>
	    <th scope="col">Name</th>
	    <th scope="col">Origin Name</th>
	    <th scope="col">Origin Location</th>
	    <th scope="col">Roast</th>
	    <th scope="col">Price Per Pound</th>
	   	<th scope="col"># of Customers</th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
	  </tr>
	</thead>

	<tbody>
    <% @kopis.each_with_index do |kopi, index| %>
      <tr>
      	<td>
        	<%= index + 1 %>
        </td>
        <td>
        	<%= kopi.name %>
        </td>

        <td>
        	<%= kopi.origin.name %>
        </td>

        <td>
        	<%= kopi.origin.location %>
        </td>

        <td>
        	<%= kopi.roast.name %>
        </td>

        <td>
        	<%= "$" + kopi.price_per_pound.to_s %>
        </td>

        <td>
        	<%= kopi.customers.length %>
        </td>

    		<td>
    			<%= link_to 'Show', kopi_path(kopi) %>
    		</td>

    		<td>
    			<%= link_to 'Edit', edit_kopi_path(kopi) %>
    		</td>

    		<td>
      			<%= link_to 'Destroy', kopi_path(kopi),
        			method: :delete,
        			data: { confirm: 'Are you sure you want to delete the kopi?' } %>
    		</td>
      </tr>
    <% end %>

	</tbody>
</table>

<br/>
<%= link_to 'Add new kopi', new_kopi_path, class: 'btn btn-primary' %>
<%= link_to 'Add new kopi order', new_order_path, class: 'btn btn-success' %>
<%= link_to 'Add new customer', new_customer_path, class: 'btn btn-info' %>

<br/>
<br/>

<% if user_signed_in? == true %>
	<h1>Welcome - <%= current_user.email %></h1>
	<%= link_to 'Show Roast Bookmark', roast_bookmark_path, class: 'btn btn-info' %>
	<%= link_to 'Edit Roast Bookmark', edit_roast_bookmark_path, class: 'btn btn-success' %>
	<br/>
	<br/>
	<%= link_to 'Show Kopi Bookmark', kopi_bookmark_path, class: 'btn btn-info' %>
	<%= link_to 'Edit Kopi Bookmark', edit_kopi_bookmark_path, class: 'btn btn-success' %>
	<br/>
	<br/>
	<%= link_to 'Log Out', destroy_user_session_url, method: :delete, class: 'btn btn-danger' %>
<% else %>
	<h1>User</h1>
	<%= link_to 'Log In', new_user_session_url, class: 'btn btn-secondary'%>
<% end %>