<h1>Kopi</h1>

<% if user_signed_in? %>
	<% if @origin_id.nil? %>
		<%= link_to 'New Kopi', new_kopi_path, class: "btn btn-info" %>
	<% else %>
		<%= link_to 'New Origin Kopi', new_origin_kopi_path, class: "btn btn-info" %>
	<% end %>
<% end %>

<form action="/">
	<select name="sort_by" id="sort_by">
    <option value="desc">Most Popular</option>
    <option value="asc">Alphabetical</option>
  </select>
  <button type="submit">Sort</button>
</form>&nbsp&nbsp

<table class="table">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Roast</th>
	    <th>Origin</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody>
		<% @kopis.each do |kopi| %>
		<tr>
			<td><%= kopi.name %></td>
			<td><%= kopi.roast.name %></td>
			<td><%= kopi.origin.location %></td>
			<td><%= link_to 'Show', kopi_path(kopi), class: "btn btn-success" %></td>
			<% if user_signed_in? %>
				<% if current_user.admin %>
			    <td><%= link_to 'Edit', edit_kopi_path(kopi), class: "btn btn-warning" %></td>
			    <td><%= link_to 'Destroy', kopi_path(kopi), class: "btn btn-danger",
			      method: :delete,
			      data: { confirm: 'Are you sure?' } %></td>
			  <% end %>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>