<h1>Listing All Kopis</h1>

<div class="container">
	 <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Roastedness</th>
          <th scope="col">Origin</th>
        </tr>
      </thead>

      <tbody>
	      <% @kopis.each do|t| %>
	        <tr>
	      		<td><%= t.name %></td>
						<td><%= t.roastedness %></td>
						<td><%= t.farm.location %></td>
	    		</tr>
		  	<% end %>
      </tbody>

    </table>
  </div>
</div>

<% if user_signed_in? %>
<%= link_to 'Add New Kopi', new_kopi_path %>
<% end %>

<%= link_to 'View All Farms', farms_path %>

<%= link_to 'Log In', new_user_session_url %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>