<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="jumbotron">
<h1>Welcome to Kopi Tracker.</h1>

<%= link_to 'New Kopi', new_kopi_path, :class => 'btn btn-success mb-3'%>

<h2>Kopis</h2>

<table class="table">
	<tr>
            <th scope="col">#</th>

		<th scope="col">Name</th>
		<th scope="col">Roast Level</th>
            		<th scope="col">Location</th>

                        <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>


	</tr>
	<% @kopis.each do |kopi| %>
		<tr>
                        <td> <%= kopi.id%> </td>

            <td> <%= link_to kopi.name, kopi_path(kopi) %> </td>
            <td> <%= kopi.roast.name %> </td>
            <td> <%= link_to kopi.kopi_farm.location, kopi_farm_path(kopi.kopi_farm) %> </td>

            </tr>
      <% end %>      
</table>

</div>