<div class="container">
<% if user_signed_in? %>
<h3>Welcome!<%= current_user.email %></h3>
<h2><%= @message %></h2>
 <% else%>
    
  <% end %>
<h1>All Kopis</h1>

<table class="table table-hover">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Farm</th>
    <th scope="col">Roast</th>
    <th scope="col">Price per Pound</th>
    <th></th>
  </tr>

  <% @kopis.each do |kopi| %>


    <tr>
        <td><%= kopi.name %></td>
        <td><%= kopi.farm.location %></td>
        <td><%= kopi.roast.name %></td>
        <td><%= kopi.price %></td>
        <td><%= link_to 'Show', kopi_path(kopi) %></td>
        <td><%= link_to 'Edit', edit_kopi_path(kopi) %>
        <td><%= link_to 'Destroy', kopi_path(kopi),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

</div>
 