<div class = "jumbotron">
<h1>All Kopis in the Kopiverse</h1>

<% if user_signed_in? %>
<div><%= link_to 'Add kopi', new_kopi_path %></div>
<br/>
	<% if current_user.admin?%>
		<div><%= link_to 'Add origin', new_origin_path %></div>
	<%end%>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Roast</th>
    <th>Origin</th>
    <th></th>
  </tr>

  <% @kopis.each do |kopi| %>
    <tr>
      <td><%= kopi.name %></td>
       <td><%= kopi.roast.name %></td>
        <td><%= kopi.origin.location%></td>
      <td><%= link_to 'Show', kopi_path(kopi) %></td>
      <% if current_user.admin? %>
	      <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
	      <td><%= link_to 'DESTROY', kopi_path(kopi), method: :delete, data:{confirm: 'Delete kopi entry FOREVER?'} %></td>
	    <%end%>
    </tr>
  <% end %>
</table>
 <%= link_to 'Log out', destroy_user_session_url, method: :delete %>
<% else %>
 	<h1>Log in to add a kopi</h1>
   <%= link_to 'Log in', new_user_session_url %>
<% end %>
</div>