<h1>All Kopis in the Kopiverse</h1>

<div><%= link_to 'add kopi', new_kopi_path %></div>
<br/>
<table>
  <tr>
    <th>Name</th>
    <th>Roast</th>
    <th>Origin</th>
    <th></th>
  </tr>

  <% @kopis.each do |kopi| %>
    <tr>
      <td><%= kopi.name %></td>
       <td><%= kopi.roast %></td>
        <td><%= kopi.origin.location%></td>
      <td><%= link_to 'Show', kopi_path(kopi) %></td>
      <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
      <td><%= link_to 'DESTROY', kopi_path(kopi), method: :delete, data:{confirm: 'Delete kopi entry FOREVER?'} %></td>
    </tr>
  <% end %>
</table>