<%= link_to 'Origins', origins_path%>
<%= link_to 'Kopis', kopis_path%>
<%= link_to 'Customers', customers_path%>
<%= link_to 'New Customer', new_customer_path %>
<% if user_signed_in? %>
  <%= link_to 'New Kopi', new_kopi_path %>
  <%= link_to 'log out', destroy_user_session_url, method: :delete %>
<% else %>
  <%= link_to 'log in', new_user_session_url %>
<% end %>

<h1>Kopi</h1>
<img 
src="https://images.unsplash.com/photo-1556742526-795a8eac090e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80"
width="100px"
height="100px">

<% @kopis.each do |k| %>
  <p>
  <%= k.name %> 
  <%= k.roast %>
  <%= k.origin.location %>
  <%= k.origin.phone %>
  <%= link_to 'view', kopi_path(k) %>
  </p>
<% end %>





