<h1>HELLLO KOPIS</h1>
<%= link_to 'List your kopis', new_kopi_path %>
<%= link_to 'See all farms', origins_path %>



<% @kopis.each do |kopi| %>
<div style="border: 1px solid black">
<p style="font-weight: bold; font-size: 20px">Kopi: </p> <%= kopi.name %>
<p style="font-weight: bold; font-size: 20px">Kopi Roast: </p><%= kopi.roast %>
<p style="font-weight: bold; font-size: 20px">Kopi Farm: </p><%= kopi.origin.location %>
<p><%= link_to 'Edit', edit_kopi_path(kopi) %></p>
<p><%= link_to 'Delete', kopis_path(kopi), method: :delete %></p>


<% end %>
<div>