<h1 class=" mt-4 text-center">Listing Kopis</h1>


<table class="table table-bordered mt-3 container text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Roast</th>
      <th scope="col">Origin</th>
      <th scope="col">Price per kg</th>
      <% if current_user.try(:admin?) %>
      <th scope="col"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @kopis.each_with_index do |kopi,index| %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= link_to kopi.name, kopi_path(kopi) %></td>
      <td><%= kopi.roastedness.roast %></td>
      <td><%= link_to kopi.origin.name, origin_path(kopi.origin) %></td>
      <td>$<%= kopi.price%></td>
       <% if current_user.try(:admin?) %>
      <td><%= link_to 'Edit', edit_kopi_path(kopi) %> <%= link_to 'Destroy', kopi_path(kopi),
        method: :delete %></td>
        <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

