<h1>Listing of Kopis</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Roast</th>
		<th>Origin</th>
		<th></th>

	</tr>

	<% @kopi.each do |kopi| %>
		<tr>
			<td><%= kopi.name %></td>
			<td><%= kopi.roast_id.name%></td>
			<td><%= kopi.origin.location %></td>
			<%= link_to 'Show', kopi_path(kopi) %>
				<%= link_to 'New Kopi', new_kopi_path %>
				<% if current_user.admin? %>
				<%= link_to 'Edit', edit_kopi_path(kopi) %>
				<%= link_to 'Destroy', kopi_path(kopi),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
				<% end %>
		</tr>
	

	<% end %>
</table>


<%= link_to 'log out', destroy_user_session_url, method: :delete %>