<h1>List of Kopi</h1>

<table>
<tr>
    <th>Kopi Name&emsp;</th>
  </tr>
<% @kopis.each do |kopi| %>
    <tr>
      <td><%= kopi.name %></td>
      <td><%= link_to 'Show', kopi_path(kopi) 
      %></td>
      <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
      <td><%= link_to 'Delete', kopi_path(kopi),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
<br/>
<% if user_signed_in? %>
<%= link_to 'Add New Kopi', new_kopi_path %>
<% end %>
<br/><br/>

<%= link_to 'Order List', orders_path %>
<br/><br/>
<%= link_to 'Origins List (Farms)', origins_path %>
<br/><br/>
<%= link_to 'Home', root_path %>

