<h3>All Kopis</h3>

<table class= "table">
  <tr>
    <th>Name</th>
    <th>Roast</th>
    <th>Origin</th>
    <th></th>
  </tr>

 <% @kopis.each do |kopi| %>
    <tr>
      <td><%= kopi.name %></td>
      <td><%= kopi.roast.name %></td>
      <td><%= kopi.origin.location %></td>
      <td><%= link_to 'Show', kopi_path(kopi) %></td>
      <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
      <td><%= link_to 'Destroy', kopi_path(kopi),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
</table>
</br>
<% if user_signed_in? %>

<h3> User's Kopi </h3>

<table class = "table">
  <tr>
    <th>Name</th>
    <th>Roast</th>
    <th>Origin</th>
    <th></th>
  </tr>

  <% @user.kopi.each do |kopi| %>
    <tr>
      <td><%= kopi.name %></td>
      <td><%= kopi.roast.name %></td>
      <td><%= kopi.origin.location %></td>
      <td><%= link_to 'Show', kopi_path(kopi) %></td>
      <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
      <td><%= link_to 'Destroy', kopi_path(kopi),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>



  <% end %>

<% end %>

  </table>
<%= link_to 'New Kopi', new_kopi_path %>

<%= link_to 'New Origin', new_origin_path %>

<%= link_to 'New Customer', new_customer_path %>
