<p id="notice"><%= notice %></p>

<h1>Kopis</h1>

<%# this is a ruby comment %>
<!-- html comment -->

<table class=''>
  <thead>
    <tr>
      <th colspan="4">Coffees</th>
    </tr>
  </thead>

  <tbody>
    <% @kopis.each do |kopi| %>
      <tr>
        <td class=''><%= kopi.name %></td>
        <td><%= link_to 'Show', kopi %></td>
        <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
        <td><%= link_to 'Destroy', kopi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Kopi', new_kopi_path %>
  <%= link_to 'Log Out', destroy_user_session_url, method: :delete %>
<% else %>
  <%= link_to 'Sign in to add a Kopi', new_user_session_url %>
<% end %>
