<%= form_with scope: :kopis, url: kopis_path, local: true do |form| %>

  <%= form.collection_select :farm_id, @farms, :id, :location %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.label :roastedness %><br>
    <%= form.text_area :roastedness %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>