<h1>Add an Name, Roast and Sourced Location to a Kopi</h2>

<%= form_for :kopi, url: kopis_path do |f| %>
    <p>
    <%= f.label :name %> <br/>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= form.collection_select :roast_id, @roasts, :id, :name %>
    </p>
   <p>
    <%= f.label :roast %><br/>
    <%= f.text_field :roast %>
    </p>

    <p>
    <%= f.label :origin %><br/>
    <%= f.text_field :origin %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>