<h1>Kopi New</h1>

<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>
  <p>
    <%= form.label :origin %><br>
    <%= form.collection_select :origin_id, @origins, :id, :location %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :roast_id %><br>
    <%= form.collection_select :roast_id, @roasts, :id, :roast %>
  </p>

  <p>
    <%= form.label :customer_ids %><br>
    <%= form.collection_check_boxes :customer_ids, @kopis, :id, :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>