<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>
  <p>
    <%= form.label :kopi %><br>
    <%= form.text_field :kopi %>
  </p>
<%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>