<h1>create a new Kopi</h1>


<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>

	<p>
		<%= form.label :name %><br>
		<%= form.text_area :name %>
	</p>

	<p>
		<%= form.label :pricePerPound %><br>
		<%= form.number_field :pricePerPound %>
	</p>

	<p><strong>Select Farm Origin</strong></p>
	<%= form.collection_select :farm_id, @farms, :id, :name %>

	<p><strong>Select Roast Type</strong></p>
	<%= form.collection_select :roast_id, @roasts, :id, :name %>

	<p>
		<%= form.submit %>
	</p>
<% end %>