<%= form_with scope: :kopi, url: kopis_path, local: true do |f| %>
	<p>Location:</p>
	<%= f.collection_select :origin_id, @origins, :id, :location %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :roast %><br>
		<%= f.text_field :roast %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>