<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>

<%= form.collection_select :roast_id, @roasts, :id, :name, {prompt: "select a roast"}, {class: 'browser-default'} %>

<%= form.collection_select :origin_id, @origins, :id, :location, {prompt: "select a country of origin"}, {class: 'browser-default'} %>

<p>
  <%= form.label :name %><br/>
  <%= form.text_area :name %>
</p>

<p>
  <%= form.label :price_per_kg %><br/>
  <%= form.number_field(:price_per_kg, in: 0.5..100.0, step: 0.5) %>
</p>

<p>
    <%= form.submit %>
</p>

<% end %>
