<%= form_with scope: :kopi, url: kopi_path, local: true do |form| %>

  <%= form.collection_select :kopi_id, @kopis, :id, :name %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>