<h1>Kopi New Page</h1>

<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>
  <p>
    <%= form.label :origin %><br>
    <%= form.collection_select :origin_id, @origins, :id, :location %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :roast %><br>
    <%= form.text_field :roast %>
  </p>



  <p>
    <%= form.submit %>
  </p>
<% end %>