<h1>Add a new type of Coffee!</h1>
<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :Roastedness %><br>
    <%= form.text_area :roast %>
  </p>
  <p>
    <%= form.label :originid %><br>
    <%= form.text_area :origin_id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
