<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <%= form.collection_select(:origin_id, Origin.all, :id, :location, prompt: "select origin") %>
  
  <%= form.collection_select(:roast_id, Roast.all, :id, :name, prompt: "select roast") %>

  <p>
    <%= form.label :pound_price %><br>
    <%= form.text_area :pound_price %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>