<h3>Add Kopi</h3>

<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

    <% if @roast_id.nil? %>
        <%= form.collection_select :roast_id, @roasts, :id, :name %>
    <% else %>
        <%= form.text_field :roast_id, value: @roast_id, hidden: true %>
    <% end %>

    <% if @origin_id.nil? %>
        <%= form.collection_select :origin_id, @origins, :id, :location %>
    <% else %>
        <%= form.text_field :origin_id, value: @origin_id, hidden: true %>
    <% end %>

  <p>
    <%= form.submit %>
  </p>
<% end %>

    <% if @origin_id.nil? %>
        <%= link_to 'Back', root_path, class: "btn btn-dark" %>
    <% else %>
        <%= link_to 'Back', origin_kopis_path, class: "btn btn-dark" %>
    <% end %>