<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>


    <p>
    <%= form.label :origin_id %><br>
    <%= form.text_area :origin_id %>
  </p>

      <p>
    <%= form.label :roast_id %><br>
    <%= form.text_area :roast_id %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', root_path %>