<h1>Add new Kopi</h1>

<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>
  <p>
    <%= form.label :'Kopi Name' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
<%= link_t0 'Back', root_path %>
