<%= form_with scope: :kopi, models:@kopi, url: '/kopis/' + @kopi.id.to_s, local: true do |form| %>
	<h1>
		Welcome to <%= current_user.email %>!!!
	</h1>
	<p>
	  <%= form.label :name %><br>
	  <%= form.text_field :name %>
	</p>
  <p>
    <%= form.label :roast %><br>
    <%= form.text_field :roast %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>