<h1>New Kopi</h1>

<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>

    <p>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :roast %>
        <%= form.text_field :roast %>
    </p>

    <p>
        <%= form.label :origin %>

        <% if params[:origin_id].present? %>
            <%= form.collection_select :origin_id, @origins, :id, :location, :selected => params[:origin_id] %>
        <% else %>
            <%= form.collection_select :origin_id, @origins, :id, :location %>
        <% end %>

    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>

<%= link_to 'Back', root_path %>