<h1>Kopi</h1>

<p>
  <strong>Name:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @kopi.origin.location %>
</p>

<%= link_to 'Edit', edit_kopi_path(@kopi) %>
<%= link_to 'Back', root_path %>