<h1>Showing One Kopi</h1>

<p>
  <strong>Name:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roastedness:</strong>
  <%= @kopi.roastedness %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @kopi.farm.location%>
</p>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_kopi_path(@kopi) %>