<h1>Name: <%= @kopi.name %></h1>
<h1>Roast: <%= @roast[0].roast_type%></h1>
<h1>Origin: <%= @origin[0].location %></h1>
<h1>Price : $<%= @kopi.price %> per pound</h1>
<div class="container">
</div>
<%= link_to 'Edit', edit_kopi_path(@kopi),   :class => "btn btn-primary"%> 
<%= link_to 'Delete', kopi_path(@kopi),
        method: :delete,
        data: { confirm: 'Are you sure?' },  :class => "btn btn-danger" %> 
<%= link_to 'Back To Home', root_path,  :class => "btn btn-primary" %>

