<p>
	<strong>Type:</strong>
	<%= @kopi.name %>
</p>

<p>
	<strong>Type:</strong>
	<%= @roast.roast_type %>
</p>

<p>
	<strong>Description:</strong>
	<%= @roast.description %>
</p>

<p>
	<strong>Location:</strong>
	<%= @origin.location %>
</p>

<p>
	<strong>Contact Number:</strong>
	<%= @origin.phone %>
</p>

<%= link_to 'Back', root_path %>