<p>
  <strong>Kopi:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roast type:</strong>
  <%= @kopi.roast %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @kopi.origin.location %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Owned by:</strong>
  <% @kopi.customers.all.each do |customer|  %>
  	<div><%= customer.name %></div>
  <% end %>
</p>