<h1><%= @kopi.name %></h1>

<p>Origin: <%= @kopi.origin.name %></p>

<p>Country of Origin: <%= @kopi.origin.location %></p>

<p>Roastedness: <%= @kopi.roast.name %></p>

<p>Current Price Per Pound(Cents): <%= @kopi.price_per_pound %></p>

<%= link_to 'home', root_path %>