<h1>Kopi Show</h1>

<% if user_signed_in? %>
  <%= link_to 'Add new kopi', new_kopi_path %>
  <p><%= link_to 'log out', destroy_user_session_url, method: :delete %></p>
<% else %>
  <%= link_to 'log in', new_user_session_url %>
<% end %>

<br/>

<h3><%= @kopi.name %></h3>
<p>Roast:   <%= @kopi.roast.roast %></p>
<p>Origin:  <%= @kopi.origin.location %></p>

<% if user_signed_in? %>
  <td style="width: 50px"><%= link_to 'Edit', edit_kopi_path(@kopi) %></td>
  <td style="width: 50px"><%= link_to 'Delete', kopi_path(@kopi),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
<% end %>

<br>
<br>
<br>
<h3>Customer Lists</h3>
<table>
    <tr>
      <th style="text-align: left">Id</th>
      <th style="text-align: left">Customer Name</th>
    </tr>

  <% @kopi.customers.each do |customer| %>
    <tr>
      <td style="width: 50px"><%= customer.id %></td>
      <td style="width: 150px"><%= customer.name %></td>
      <td><%= link_to 'Show', customer_path(customer) %></td>
    </tr>
  <% end %>
</table>
<br>
<br>
<br>
<ul>
  <li><%= link_to 'Origin', root_path %></p>
  <li><%= link_to 'Kopi', kopis_path %></p>
  <li><%= link_to 'Roast', roasts_path %></p>
  <li><%= link_to 'Customer', customers_path %></p>
</ul>