<h3>Kopi Details</h3>	
	<ul>
		<li>PICTURE.jpg</li>
		<li>Kopi Name: <%= @kopi.name %></li>
		<li>Kopi Roast: <%= @kopi.roast.name %></li>
		<li>Kopi Origin: <%= @kopi.origin.location %></li>
	</ul>
<div class="text-center">	
	<% if user_signed_in? %>
	<%= link_to 'Delete this Kopi', kopi_path(@kopi), method: :delete, class: "btn btn-primary"%>
	<% end %>
	<br>
	<p><%= link_to 'Back to All Kopis', root_path %></p>
</div>
