<p>
  <strong>Name:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast_id %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @kopi.origin_id %>
</p>

<%= link_to 'Back', root_path %>

<%= link_to 'Edit', edit_kopi_path(@kopi) %>
