<div class="stuff">
<p>
	<strong>Type:</strong>
	<%= @kopi.name.capitalize %>
</p>

<p>
	<strong>Price Per Kilogram:</strong>
	SGD$ <%= @kopi.price_per_kilo %>
</p>

<p>
	<strong>Type:</strong>
	<%= @roast.roast_type.capitalize %>
</p>

<p>
	<strong>Description:</strong>
	<%= @roast.description.capitalize %>
</p>

<p>
	<strong>Location:</strong>
	<%= @kopi.origin.location.capitalize %>
</p>

<p>
	<strong>Contact Number:</strong>
	<%= @kopi.origin.phone %>
</p>
</div>

<%= link_to 'Back', root_path %>