<p>
  <strong>Kopi ID:</strong>
  <%= @kopi.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast.name %>
</p>

<p>
  <strong>Origins:</strong>
  	<%= @kopi.origin.location %>

</p>
<%= link_to 'Back', kopis_path %>