<h2>Kopi: <%= @kopi.name %></h2>

<p>
  <strong>name:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roast name:</strong>
  <%= @kopi.roast.name %>
</p>


<p>
  <strong>Origin</strong>
  <%= @kopi.origin.location %>
</p>

<%= link_to 'Back', kopis_path %>
<%= link_to 'Edit', edit_kopi_path(@kopi) %>