<h1>Show Kopi Page</h1>

<p>
	<%= @kopi.name %>
</p>

<p>
	<%= @kopi.pricePerPound %>
</p>

<p>
	<%= @kopi.farm.name %>
</p>
<p>
	<%= @kopi.roast.name %>
</p>

<%= link_to 'Kopi Index', root_path %>
<%= link_to "Delete", @kopi, :confirm => "Are you sure?", :method => :delete %>