<p>
  <strong>Coffee's name:</strong>
  <%= @kopis.name %>
</p>

<p>
  <strong>Roast type:</strong>
  <%= @roasts.name %>
</p>

<p>
  <strong>Farm's location:</strong>
  <%= @origins.location %>
</p>

<p>
  <strong>Farm's phone number:</strong>
  <%= @origins.phone %>
</p>

<%= link_to 'Home page', root_path %>