<h2><%= @kopi.name %></h2>
<h4>From: <%= @kopi.origin.location %></h4>
<h4>Roast: <%= @kopi.roast.name %></h4>
<h4>Price: $<%= @kopi.price_per_kg %></h4>

<h4>Customers selling this Kopi:</h4>
<ul>
  <% @kopi.customers.each do |customer| %>
    <li><%= link_to customer.name, customer_path(customer.id)%></li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to 'Order Kopi', new_order_path(kopi: @kopi.id), class: 'waves-effect waves-light btn' %>
<% end %>
<% if current_user.try(:staff?) %>
  <%= link_to 'Edit Kopi', edit_kopi_path, class: 'waves-effect waves-light btn' %>
<% end %>
