<p>
  <strong>Name:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast %>
</p>

<!-- <p>
  <strong>Origin:</strong>
  <%= @kopi.origin %>
</p> -->

<% @kopi.origins.each do |origin| %>
  <%= @kopi.origin %>
<% end %>

<%= link_to 'Back', root_path %>