<h1>Kopi Info</h1>

<p>
  <strong>Name:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @kopi.origin.location %>
</p>

<%= link_to 'Edit', edit_kopi_path(@kopi) %>
<%= link_to 'Delete', kopi_path(@kopi),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', root_path %>

<h3>List of Customers:</h3>

<ul>
    <% @kopi.customers.each do |customer| %>
        <li>
            <a href="/customers/<%= customer.id %>"><%= customer.name %></a>
        </li>
    <% end %>
</ul>