<h1> Kopi </h1>
<table>
  <tr>
    <th>Name</th>
    <th>Roast</th>
    <th>Origin</th>
    <th>Customer Name</th>
  </tr>


  <tr>
     <td><%= @kopi.name %></td>
     <td><%= @kopi.roast_id %></td>
     <td><%= @kopi.origin.location %></td>
     
 <% @kopi.customers.each do |customer| %>
<td><%= customer.name %></td>
<% end %>

  </tr>

</table>
<%= link_to 'Back', kopis_path %>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_kopi_path(@kopi) %>
<% end %>



