<div class="jumbotron">
  <h1 class="display-4"><%= @kopi.name %></h1>
  <p class="lead"><%= link_to @kopi.roast.name, roast_path(@kopi.roast) %></p>
  <hr class="my-4">
  <p>This Kopi is from: <%= link_to @kopi.origin.location, origin_path(@kopi.origin) %></p>
  <p>Price per pound: <%= @kopi.price %></p>
  <p>Customers who carry <%= @kopi.name %>.</p>
  <ul>
  	<% @kopi.customers.each do |customer| %>
  		<li><%= customer.name %></li>
  	<% end %>
  </ul>
</div>
<% if user_signed_in? %>
	<%= link_to('Edit', edit_kopi_path, {:class => "btn btn-warning btn-lg"}) %>
	<%= link_to('Destroy', kopi_path(@kopi), method: :delete, :class => "btn btn-danger btn-lg", data: {confirm: 'Are you sure?'})%>
<% end %>