<h1>Here is your kopi:</h1>
<ul>
  <li><%= @kopi.name%></li>
  <li><%= @kopi.roast%></li>
  <li><%= @kopi.origin.location%></li>
</ul>
<% if @user %>
  <%= link_to('Edit Kopi', edit_kopi_path) %>
  <%= link_to('Delete kopi', kopi_path, method: :delete, data: {confirm: 'Are you sure?'}) %>
<% end %>
