<h1>Show Kopi</h1>

  <p>
    <strong>Name:</strong>
    <%= @kopi.name %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= @kopi.origin %>
  </p>

  <p>
    <strong>Roast:</strong>
    <%= @kopi.roast %>
  </p>

<% end %>

<%= link_to 'Edit', edit_kopi_path(@kopi) %>
<%= link_to 'Back', root@path %>
