<h1> Kopi </h1>
<table>
  <tr>
    <th>Name</th>
    <th>Roast</th>
    <th>Origin</th>
    <th></th>
  </tr>


  <tr>
     <td><%= @kopi.name %></td>
     <td><%= @kopi.roast_id %></td>
     <td><%= @kopi.origin.location %></td>
  </tr>

</table>

<%= link_to 'Back', kopis_path %>

<%= link_to 'Edit', edit_kopi_path(@kopi) %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>