<%= form_with scope: :origin, url: origins_path, local: true do |form| %>

  <p>
    <%= form.label :Location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :'Phone number' %><br>
    <%= form.text_area :phone %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>