<h1>Edit Roast Bookmark for <%= current_user.email %></h1>

<%= form_with scope: :roast_bookmark, url: roast_bookmarks_path, model: @user, local: true do |form| %>
	<p>
		Roast:
		<br>
		<%= form.collection_check_boxes :roast_ids, @roasts, :id, :name %>
	</p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<br/>
<%= link_to 'Back', root_path, class: 'btn btn-primary' %>