<h1>All Farms</h1>

<table>
  <tr>
    <th>Farm</th>
    <th>Location</th>
    <th>Phone</th>
    <th></th>
  </tr>

  <% @farms.each do |farm| %>
    <tr>
      <td><%= farm.name %></td>
      <td><%= farm.location %></td>
      <td><%= farm.phone %></td>
      <td><%= link_to 'Show', farm_path(farm) %></td>
      <td><%= link_to 'Edit', edit_farm_path(farm) %></td>
      <td><%= button_to 'Destroy', farm,
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Farm', new_farm_path %>