<h1>Listing All Origins</h1>

<div class="container">
	 <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Location</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>

      <tbody>
	      <% @farm.each do|t| %>
	        <tr>
	      		<td><%= t.location %></td>
	      		<td><%= t.phone_number %></td>
	    		</tr>
		  	<% end %>
      </tbody>

    </table>
  </div>
</div>

<br/>


<li><%= link_to 'View All Kopis', kopis_path %></li>
<%- if user_signed_in? %>
  <li><%= link_to 'Add New Farm', new_farm_path %></li>
  <li><%= link_to t('auth.sign_out'), destroy_user_session_path, method: 'delete' %></li>
<% else %>
  <li><%= link_to t('auth.sign_in'), new_user_session_path %></li>
  <li><%= link_to t('auth.sign_up'), new_user_registration_path %></li>
<% end %>