<p>
  <strong>Farm:</strong>
  <%= @farm.name %>
</p>

<p>
<strong>Location:</strong>
<%= @farm.location%>
</p>

<p>
  <strong> Phone Number:</strong>
  <%= @farm.phone %>
</p>

<p>
  <strong>Kopis:</strong>
  <ul>
  <% @farm.kopi.each do |kopi| %>
    <li><%= link_to kopi.name, kopi_path %></li>
  <% end %>
  </ul>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_farm_path(@farm) %>
<% end %>
<%= link_to 'Back', root_path %>