
<h1> Farm <%= @farm.id %> Info </h1>


<p>
  <strong>Title:</strong>
  <%= @farm.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @farm.location %>
</p>

<p>
  <strong>Text:</strong>
  <%= @farm.phone %>
</p>



<%= link_to 'Back', root_path %>