<h1>All Koopis</h1>

<%= link_to 'Add a new koopi', new_koopi_path(@koopi) %>
<br>
<br>

 <% @koopis.each do |koopi| %>
    <h3><%= koopi.id %>. <%= koopi.name %></h3>
    <p> of origin <%= koopi.origin.location %> with <%= koopi.roast.name %> roastedness </p>
    <%= link_to 'Show', koopi_path(koopi) %>
    <%= link_to 'Edit', edit_koopi_path(koopi) %>
    <%= link_to 'Destroy', koopi_path(koopi),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<% end %>

