<p>
  <strong>Name: </strong>
  <%= @koopi.name %>
  <br>
  <br>
  <br>

  <strong>Origin:</strong>
  <%= @koopi.origin.location %>
  <br>
  <br>

  <strong>Roastedness:</strong>
  <%= @koopi.roast.name %>
  <br>
  <br>

  <strong>Price per pound:</strong>
  <%= @koopi.price %>
</p>

<%= link_to 'Back', root_path %>
<% if user_signed_in? %>
    <%= link_to 'Edit', edit_koopi_path(@koopi) %>
<% end %>