<%= link_to 'New Farm', new_farm_path %>
<h1>All Farms</h1>
<table width=100% style="text-align:center">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Phone Number</th>
    <th>Kopis</th>
    <th>Options</th>
  </tr>
  <% @farms.each do |farm| %>
    <tr>
      <td><%= farm.name %></td>
      <td><%= farm.location %></td>
      <td><%= farm.phone %></td>
      <td>
        <% farm.kopi.each do |kopi|%>
          <%= link_to kopi.name, kopi_path %>&nbsp;
        <% end %>
      </td>
      <td>
        <%= link_to 'Show', farm_path(farm) %>&nbsp;
        <%= link_to 'Edit', edit_farm_path(farm) %>&nbsp;
        <%= link_to 'Destroy', farm_path(farm),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
