<h1> All farms </h1>

<% if user_signed_in? &&  current_user.admin? %>
		<%= link_to 'Add new farm', new_farm_path %>
<% end %>

<% @farms.each do |farm| %>

		<p> Location: <%= farm.location %> </p>
		<p> Phone Number: <%= farm.phone %></p>
		<% if user_signed_in? &&  current_user.admin? %>
				<p> <%= link_to 'Edit farm', edit_farm_path(farm) %> || <%= link_to 'Delete farm', farm_path(farm), method: :delete, data: {confirm: 'Are you sure you want to delete this farm?'} %> </p>
		<% end %>
		<br>

<% end %>