<h1> Add new farm </h1>

<%= form_with scope: :farms, url: farms_path, local: true do |form| %>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone%>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', farms_path %>