<h1>SUPER INDEX</h1>

<table>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "roastedness" %></th>
      <th><%= sortable "origin" %></th>
      <th><%= sortable "order(kg)" %></th>
      <th><%= sortable "roast_id" %></th>
    </tr>
  
    <% @coffee.each do |coffee| %>
      <tr>
        <td><%=link_to coffee.name, coffeelist_path(coffee) %></td>
        <td><%=link_to coffee.roast.name, roast_path(coffee.roast_id)%></td>
        <td><%=link_to coffee.origin.location, origin_path(coffee.origin_id) %></td>
        <td><%= coffee.order.weight %></td>
        <td><%= coffee.roast_id %></td>
      </tr>
    <% end %>
</table>

