<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customers_kopi.customer %>
</p>

<p>
  <strong>Kopi:</strong>
  <%= @customers_kopi.kopi %>
</p>

<%= link_to 'Edit', edit_customers_kopi_path(@customers_kopi) %> |
<%= link_to 'Back', customers_kopis_path %>
