<br>
<h2>Customers</h2>
<br>
<%= link_to 'New Customer', new_customer_path, :class => "btn btn-primary" %>
<%= link_to 'Kopis', kopis_path, :class => "btn btn-info" %>
<table class="table">
	<thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  	<% @customers.each do |customer| %>
	    <tr>
	      <td><%= link_to customer.name, customer_path(customer) %></td>
	      <td><%= link_to 'Edit', edit_customer_path(customer), :class => "btn btn-warning" %></td>
	      <td><%= link_to 'Delete', customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
	    </tr>
	   <% end %>
  </tbody>
</table>