<h1>kopi/index</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Roast</th>
  </tr>
  <tr>
      <td><%= kopi.name %></td>
      <td><%= kopi.roast %></td>
</table>

<% if user_signed_in? %>
<%= link_to 'View Coffee'%>

<%= link_to 'log out', destroy_user_session_url, method: :delete %>

<%else%>
	<%= link_to 'Log In', new_user_session_url %>

<% end %>