<br>
<h2>Your Order</h2>

<table class="table">
	<thead>
    <tr>
      <th scope="col">Kopi</th>
      <th scope="col">Roast</th>
      <th scope="col">Origin</th>
      <th scope="col">Price/ lb</th>
      <th scope="col">Weight</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
	<tbody>
  	<tr>
  		<% cost = @order.kopi.price.to_i * @order.weight.to_i %>
  		<td><%= @order.kopi.name %></td>
    	<td><%= @order.kopi.roast.kind %></td>
    	<td><%= @order.kopi.origin.location %></td>
    	<td>$<%= @order.kopi.price %></td>
    	<td><%= @order.weight %> lb</td>
    	<td>$<%= cost %></td>
  	</tr>
	</tbody>
</table>
<br>
<p>
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_order_path(@order), :class => "btn btn-warning" %>
		<%= link_to 'Delete', order_path(@order), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
	<% end %>
	<%= link_to 'Back', orders_path, :class => "btn btn-secondary" %>
</p>