<h1>Submit order</h1><br>

<%= form_with scope: :order, url: orders_path, local: true do |form| %>

	<%= form.collection_select :kopi_id, @kopis, :id, :name %><br>

	<p>
		<%= form.label :weight %><br>
		<%= form.text_area :weight %>
	</p>

	<p>
		<%= form.submit %>
	</p>

	<% end %>