<h1>Order details</h1><br>

<table>
	<tr>
		<th>Coffee name</th>
		<th>Weight (pounds)</th>
		<th>Price per pound</th>
		<th>Total price</th>
	</tr>
	<tr>
		<td><%= @order.kopi.name %></td>
		<td><%= @order.weight %></td>
		<td><%= @order.kopi.pound_price %></td>
		<td><%= @order.weight * @order.kopi.pound_price %></td>
	</tr>

</table>

<%= link_to 'Back', orders_path %><br>
<%= link_to 'Edit', edit_order_path %>