<h1>Customers</h1>
<% @customers.each do |customer| %>
   <a href="/customers/<%=customer.id%>"><%= customer.name %></a>
		 <table >
        <tr>
					<th >Name</th>
					<th >Roast</th>
					<th >Origin</th>
					<th>Show</th>
			  </tr>
			  <br/>
       <% customer.kopis.each do |kopi| %>
				 <tr>
						<td><%= kopi.name %></td>
						<td><%= kopi.roast.name %></td>
						<td><%= kopi.origin.location%></td>
						<td><%= link_to 'Show', customer_path(kopi) %></td>
         </tr>
		   <% end %>
      </table>
      <br/>
  <% end %>
  <br/>

<%= link_to('New customer', new_customer_path) %>