<h1>Add New Customer</h1>

<%= form_with scope: :customer, url: customers_path, local: true do |form| %>
	<%= form.label :name %><br>
	<%= form.text_field(:name, {:class => "form-control"}) %>

<p>Kopi</p>
<%= form.collection_check_boxes :kopi_ids, @kopis, :id, :name do |cb| %>
	<%= cb.check_box %>
	<%= cb.label %>
<% end %>

<%= form.submit %>

<% end %>