<% name = @customer.email[/[^@]+/] %>
<% name.split(".").map {|n| n.capitalize }.join(" ") %>

<h1>Customer info </h1>

<p>Name: <%= name.capitalize %> </p>

<p>
List of Kopis liked by <%= name.capitalize %>:
<br>
	<% @customer.kopis.each do |kopi| %>
		<li><a href = <%= kopi_path (kopi.id) %>><%= kopi.name.capitalize %></a></li>
	<% end %>
</p>


<p><%= link_to 'Back to List of Customers', customers_path %></p>
<p><%= link_to 'Home', root_path %></p>