<h1>New Roast</h1>
<% flash.each do |type, msg| %>
  <div style="color:red">
    <%= msg %>
  </div>
<% end %>
<%= form_with scope: :roast, url: roasts_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name%>
  </p>
  <p>
    <%= form.submit "Submit Post" %>
  </p>
<% end %>

<%= link_to 'Back To All Kopis', kopis_path %>
