<h1>hi.</h1>
<h2>this is the index page for kopis. probably like a menu page.</h2>

<%= form_tag(kopis_path, method: "get") do %>
  <%= select_tag(:sort, options_for_select(["Sort By Popularity",['Ascending','asc'],['Descending','desc']]), :onchange=>'this.form.submit();',class:"form-control" ) %>
 <%end%>

<table>
  <tr>
  	<th>Name</th>
    <th>Roast</th>
    <th>Origin</th>
    <th>Number of Customers with this Kopi</th>
    <th></th>
  </tr>

  <% @kopis.each do |kopi| %>
    <tr>
    	  <td><%= kopi.name %></td>
        <td><%= kopi.roast.name %></td>
        <td><%= kopi.origin.name %></td>
        <td><%= kopi.customers.length %></td>
        <td><%= link_to 'Show', kopi_path(kopi) %></td>
        <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
        <td><%= link_to 'Destroy', kopi_path(kopi),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New kopi', new_kopi_path %>