<h1>Kopis List</h1>
<% if user_signed_in? %>
<%= link_to 'New Kopi', new_kopi_path %>
<% end %>

<table>
	<tr>
		<th>Name</th>
		<th>Roast</th>
		<th>Origin</th>
		<th></th>

	</tr>

	<% @kopi.each do |kopi| %>
		<tr>
			<td><%= kopi.name %></td>
			<td><%= kopi.roast.name%></td>
			<%-#can't change this to kopi.origin.location-%>
			<td><%= kopi.origin.location%></td>
			<td><%= link_to 'Show', kopi_path(kopi) %></td>
			<td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
			<td><%= link_to 'Destroy', kopi_path(kopi),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>


<%= link_to 'log in', new_user_session_url %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>