<h1>Show Kopi</h1>
<p>
  Name: <%= @kopi.name %>
</p>
<p>
  Origin Farm: <%= @farm.name %>
</p>
<p>
  Roast Type: <%= @roast.name %>
</p>
<%= link_to 'Back To Kopis Index', kopis_path %>&nbsp;
<%= link_to 'Edit', edit_kopi_path(@kopi) %>
</p>