<h1>Show Kopi</h1>
<p>
  Name: <%= @kopi.name %>
</p>
<p>
  Origin Farm: <%= link_to @farm.name, farm_path(@farm) %>
</p>
<p>
  Roast Type: <%= link_to @roast.name, roast_path(@roast) %>
</p>
<%= link_to 'Back To Kopis Index', kopis_path %>&nbsp;
<%= link_to 'Edit', edit_kopi_path(@kopi) %>
</p>