<h1>Edit Origin</h1>

<%= form_with scope: :origin, model: @origin, local: true do |form| %>

    <p>
        <%= form.label :location %>
        <%= form.text_field :location %>
    </p>

    <p>
        <%= form.label :phone %>
        <%= form.text_field :phone %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>

<%= link_to 'Back', origins_path %>