<h1>Origin Edit Page</h1>

<%= form_with scope: :origin, model: @origin, local: true do |form| %>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_area :phone %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<br>
<br>
<div>
  <%= link_to 'Back to Origin Index', root_path %>
</div>