<h1>All Kopi Origins</h1>

<table class="table">
	<tr>
		<th>Location</th>
		<th>Phone Number</th>
		<th></th>
	</tr>

	<% @origin.each do |post| %>
		<tr>
			<td><%= post.location %></td>
			<td><%= post.phone_number %></td>
			<% if user_signed_in?%>
			<td><%= link_to 'Show', origin_path(post) %></td>
			<td><%= link_to 'Edit', edit_origin_path(post) %></td>
			<% end %>
			<% if user_signed_in? && current_user.admin?%>
			<td><%= link_to 'Destroy', origin_path(post),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
				<% end %>
		</tr>
	<% end %>
</table>


<%= link_to 'New origin', new_origin_path %>