<h1>Origins</h1>

<table class="table">
	<thead>
	  <tr>
	  	<th>Kopis</th>
	    <th>Location</th>
	    <th>Phone</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<% if current_user.try(:admin?) %>
	  <%= link_to 'New Origin', new_origin_path, class: "btn btn-info" %>
	<% end %>
	<tbody>
	<% @origins.each do |origin| %>
	  <tr>
	    <td><%= link_to 'Kopis', origin_kopis_path(origin) %></td>
	    <td><%= origin.location %></td>
	    <td><%= origin.phone %></td>
			<td><%= link_to 'Show', origin_path(origin), class: "btn btn-success" %></td>
			<% if current_user.try(:admin?) %>
		    <td><%= link_to 'Edit', edit_origin_path(origin), class: "btn btn-warning" %></td>
		    <td><%= link_to 'Destroy', origin_path(origin), class: "btn btn-danger",
		      method: :delete,
		      data: { confirm: 'Are you sure?' } %></td>
		  <% end %>
		</tr>
		<% end %>
	</tbody>
</table>