<h1>Origin Index</h1>

<% if user_signed_in? %>
  <p><%= link_to 'Add new Origin', new_origin_path %></p>
  <p><%= link_to 'log out', destroy_user_session_url, method: :delete %></p>
<% else %>
  <%= link_to 'log in', new_user_session_url %>
<% end %>


<br/>
<br/>

<table>
  <tr>
    <th style="text-align: left">Location</th>
    <th style="text-align: left">Phone</th>
  </tr>

  <% @origins.each do |origin| %>
    <tr>
      <td style="width: 150px"><%= origin.location %></td>
      <td style="width: 100px"><%= origin.phone %></td>
      <td style="width: 50px"><%= link_to 'Show', origin_path(origin) %></td>
      <% if user_signed_in? %>
        <td style="width: 50px"><%= link_to 'Edit', edit_origin_path(origin) %></td>
        <td style="width: 50px"><%= link_to 'Delete', origin_path(origin),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>
<br>
<div>
  <p><%= link_to 'Go to Kopi Index', kopis_path %></p>
  <p><%= link_to 'Go to Roast Index', roasts_path %></p>
</div>