
	<h3>Kopi Origins</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Location</th>
				<th>Phone</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<% @origins.each do |origin| %>
			<tr>
				<td><%= origin.location %></td>
				<td><%= origin.phone %></td>
			  <td><%= link_to 'Details', origin_path(origin) %></td>
			  <% if user_signed_in? %>
			  	<td><%= link_to 'Edit', edit_origin_path(origin) %></td>
					<td><%= link_to 'Delete', origin_path(origin), method: :delete, data: { confirm: 'Confirm Delete?'} %></td>
				<% end %>
			</tr>
		<% end %>
		</tbody>
	</table><br>
	<% if user_signed_in? %>
		<%= link_to 'Enter New Origin', new_origin_path, class: "btn btn-primary" %>
	<% end %>
