<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", kopis_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Origins', origins_path %></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <h2>Origins</h2>
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Number of Kopi</th>
          <th></th>
        </thead>
        <tbody>
          <% @origins.each do |origin| %>
            <tr>
              <td><%= link_to origin.name, origin_path(origin) %> </td>
              <td><%= origin.kopi.count %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <% if user_signed_in? %>
        <% if current_user.admin?  %>
          <%= link_to "Add New Origin", new_origin_path, class:"btn btn-primary mb-3" %>
        <% end %>
        <%= link_to 'Log Out', destroy_user_session_url, method: :delete, class:"btn btn-secondary mb-3" %>
      <% else%>
        <%= link_to 'Log In', new_user_session_url,class:"btn btn-secondary mb-3" %>
      <% end %>
    </div>
  </div>
</div>