<h3>Add Origin</h3>

<%= form_with scope: :origin, url: origins_path, local: true do |form| %>
  <% if @origin.errors.any? %>
    <% @origin.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', origins_path, class: "btn btn-dark" %>
