<%= form_with scope: :origin, url: origin_path, local: true do |form| %>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :phonenumber %><br>
    <%= form.text_area :phonenumber %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>