<h1>Add an Origin</h2>

<%= form_for :origin, url: origins_path do |f| %>
    <p>
    <%= f.label :location %> <br/>
    <%= f.text_field :location %>
    </p>

    <p>
    <%= f.label :phone %><br/>
    <%= f.text_field :phone %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>