<h1>New Kopi Origin</h1>

<%= form_with scope: :origin, url: origins_path, local: true do |form| %>

	<p>
		<%= form.label :location %><br>
		<%= form.text_field :location %>
	</p>

	<p>
		<%= form.label :phone_number %><br>
		<%= form.text_field :phone_number %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>

<%= link_to 'Back', origins_path %>