<h2>Add Origin</h2>

<%= form_with scope: :origin, url: origins_path, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>
  <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_area :phone %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>