<h1>New Origin Form</h1>

<%= form_with scope: :origin, url: origins_path, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

# <%= link_to 'Back', root_path %>