	<%= form_with scope: :origin, url: origins_path, local: true do |f| %>
	<div class="form-group">
		<%= f.label :location %><br>
		<%= f.text_field :location %>
	</div>
	<div class="form-group">
		<%= f.label :phone %><br>
		<%= f.text_field :phone %>
	</div>
	<%= f.submit class: "btn btn-primary" %>
	<% end %>
	<br>
	<%= link_to 'Back to Homepage', root_path %>		

