<p>
  <strong>Location:</strong>
  <%= @origin.location %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @origin.phone %>
</p>

<p>Related Kopis</p>
<ul>
    <%@origin.kopi.each do |kopi|%>
        <li><%= link_to kopi.name, kopi %></li>

    <%end%>
</ul>

<%= link_to 'Edit', edit_origin_path(@origin) %> |
<%= link_to 'Back', root_path %>