<h1>TEST</h1>


<h1> <%= @origin.location %> </h1>
<h1> <%= @origin.phone %> </h1>

<% @kopis.each do |kopi| %>
	<h2> <%= kopi.name %> </h2>
	<h2> <%= kopi.roast %> </h2>
	<h2> <%= kopi.origin_id %> </h2>
<% end %>