<p>
  <strong>Origin Location:</strong>
  <%= @origin.location %>
</p>

<p>
  <strong>Origin Phone:</strong>
  <%= @origin.phone %>
</p>


<%= puts @kopis %>

<%= link_to 'origin kopi', origin_kopis_path(@origin) %>
<%= link_to 'Back', root_path %>