<h2>Origin</h2>
<br>
<h4><%= @origin.location %></h4>
<label>Phone Number: </label>
<br>
<span><%= @origin.phone %></span>
<% if user_signed_in? %>
  <span><%= link_to 'Edit', edit_origin_path(@origin), class:"btn btn-primary" %></span>
  <span><%= link_to 'Delete', origin_path(@origin),
            method: :delete,
            data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></span>
<% end %>
<br>
<br>
<br>
<div>
  <h5>Kopi List for this customer</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Kopi</th>
        <th scope="col">Roast</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @origin.kopi.each do |kopi|  %>
        <tr>
            <td><%= kopi.name %></td>
            <td><%= kopi.roast.roast %></td>
            <td><%= link_to 'Show', kopi_path(kopi) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>