<h3>Origin:</h3>
<p>
<%= @origin.location %>
</p>

<h3>Contact Number:</h3>
<p>
<%= @origin.phone %>
</p>

<h3>Contact Number:</h3>
<p>
<%= @origin.phone %>
</p>

<%= link_to 'Back to Origins', origins_path %>

<p>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>
</p>