<p>
  <strong>Origin Name:</strong>
  <%= @origin.name%>
</p>

<p>
  <strong>Location of Origin:</strong>
  <%= @origin.location%>
</p>

<p>
  <strong>Phone number of Origin:</strong>
  <%= @origin.phone%>
</p>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_origin_path(@origin) %>