<h1><%= @origin.location %>
</h1>

<%= 'List of coffees from this location' %><br>
<% @origin.kopi.each do |kopi| %>
	<li>Kopi Name: <%= kopi.name %></li>
	<li>Kopi Roast: <%= kopi.roast %></li><br>
<% end %>
<%= link_to 'Create Kopi', new_origin_kopi_path %><br>
<%= link_to 'Back to Homepage', root_path %>
