<h1>Origin Show Page</h1>

<%= link_to 'Add new Kopi', new_kopi_path %>

<br/>
<br>

<h3><%= @origin.location %></h3>
<p>Phone Number: <%= @origin.phone %></p>
<p>Kopi from this origin</p>
<br>
<div>
  <table>

    <tr>
      <th style="text-align: left">Kopi</th>
      <th style="text-align: left">Roast</th>
    </tr>
  <% @origin.kopi.each do |kopi|  %>
    <tr>
      <td style="width: 100px"><%= kopi.name %></td>
      <td style="width: 100px" ><%= kopi.roast %></td>
      <td style="width: 100px"><%= link_to 'Show', kopi_path(kopi) %></td>
    </tr>


  <% end %>
  </table>
</div>
