<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>

	<p>
		<%= form.label :name, 'Kopi Name:' %>
		<%= form.text_field :name %>
	</p>

	<% if params.has_key?(:origin_id) %>
		<%= form.hidden_field :origin_id, value: params[:origin_id] %><br>

	<% else %>
		<span>Origin:</span>
		<%= form.collection_select :origin_id, @origins, :id, :location %><br>
	<% end %>

	<span>Roast Type:</span>
	<%= form.collection_select :roast_id, @roasts, :id, :roast %><br>

	<p>
		<%= form.submit %>
	</p>
<% end %>