
<p id="notice">
		<%= notice %>
</p>
<h1>Kopis</h1>
<table>
		<thead>
				<tr>
						<th>Name</th>
						<th>Roast</th>
						<th>Origin</th>
						<th colspan="3"></th>
				</tr>
		</thead>
		<tbody>
				<% @kopis.each do |kopi| %>
				<tr>
						<td>
								<%= kopi.name %>
						</td>
						<td>
								<%= kopi.roast_id %>
						</td>
						<td>
								<%= kopi.origin_id %>
						</td>
						<td>
								<%= link_to 'Show', kopi %>
						</td>
						<td>
								<%= link_to 'Edit', edit_kopi_path(kopi) %>
						</td>
						<td>
								<%= link_to 'Destroy', kopi, method: :delete, data: { confirm: 'Are you sure?' } %>
						</td>
				</tr>
				<% end %>
		</tbody>
</table>
<br>
<%= link_to 'New Kopi', new_kopi_path %>