<h1>Add New Kopi</h1>
<%= form_with scope: :kopi, url: kopi_path, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
  
    <p>
      <%= form.label :roast %><br>
      <%= form.text_field :roast %>
    </p>

    <p>
        <%= form.label :origin %><br>
        <%= form.text_field :origin %>
    </p>
  
    <p>
      <%= form.submit %>
    </p>
<% end %>

<%= form_with scope: :kopi, url: kopi_path, local: true do |form| %>
    ...
  <% end %>
  
  <%= link_to 'Back', root_path %>