<h3>Edit Customer</h3>

<%= form_with scope: :customer, model: @customer, local: true do |form| %>

<%= form.collection_check_boxes :kopi_ids, @kopis, :id, :name %>

		<%= form.text_field :name %>
		<%= form.label :name %>

<p>
	<%= form.submit %>
</p>

<% end %>