<h1>Edit <%= @customer.name%>'s Stocks</h1>

<%= form_with scope: :customer, model: @customer, local: true do |form| %>

<%= form.collection_check_boxes :kopi_ids, @kopis, :id, :name do |cb| %>
    <label class="checkbox-inline mr-5">
        <%= cb.check_box %>
        <%= cb.label %>
    </label>
<% end %>

  <p>
	<%= form.submit %>
  </p>
  <% end %>