	<%= form_with model: @customer, local: true do |f| %>
	<div class="form-group">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	<div class="form-group">
		<%= f.label :email %><br>
		<%= f.text_field :email %>
	</div>
	<div class="form-group">
		<%= f.label :phone %><br>
		<%= f.text_field :phone %>
	</div>
	<div>
		<table class="table">
			<thead>	
			<tr>
				<th>Name</th>
				<th>Roast</th>
				<th>Origin</th>
				<th>Select</th>
			</tr>
			</thead>	
			<tbody>
			<%= f.collection_check_boxes(:kopi_ids, @kopis, :id, :name) do |b| %>
				<%= b.label do %>
					<tr>
						<td><%= b.object.name %></td>
						<td><%= b.object.roast.name %></td>
						<td><%= b.object.origin.location %></td>
						<td><%= b.check_box %></td>
					</tr>
				<% end %>
			<% end %>
			</tbody>
		</table>
	</div>
	<%= link_to 'Back', customer_path, class: "btn btn-primary" %>
	<%= f.submit class: "btn btn-primary" %>
	<% end %>	<br>