<h1>All Customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number of Kopis</th>
  </tr>

    <%= form_tag(customers_path, method: "get") do %>
        <%= select_tag(:sort, options_for_select(["Sort By Number of Kopis",['Asc','asc'],['Desc','desc']]), :onchange=>'this.form.submit();',class:"form-control" ) %>
    <%end%>
  <% @customers.each do |customer| %>
    <tr>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td style="text-align:center;"><%= customer.kopis.length%></td>
        <td><%= link_to 'Show', customer_path(customer) %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %>
        <td><%= link_to 'Destroy', customer_path(customer),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New customer', new_customer_path %>