<h1>Customers</h1>

<%= link_to 'New Customer', new_customer_path, class: 'btn btn-success' %>
<%= link_to 'Roast Index', roasts_path, class: 'btn btn-success' %>
<%= link_to 'Farm Index', farms_path, class: 'btn btn-success' %>
<%= link_to 'Kopi Index', kopis_path, class: 'btn btn-success' %>
<%= link_to 'Order Index', orders_path, class: 'btn btn-success' %>

<form method="GET" action="/customers">
	<label>Sort by:</label>
	<select name="sort" >
		<option value="">Please choose one</option>
		<option value="name">Name</option>
		<option value="number of kopi">No. of Kopi</option>
	</select>
	<label>Order:</label>
	<select name="order" onchange="this.form.submit()">
		<option value="">Please choose one</option>
		<option value="asc">Ascending</option>
		<option value="desc">Descending</option>
	</select>
</form>

<table class="table table-bordered">
<thead class="thead-dark">
	<tr>
		<th scope="col">Name</th>
		<th scope="col">No. of Kopi</th>
		<th scope="col" style="text-align: center" colspan="4">Actions</th>
	</tr>
</th>
</thead>
<tbody>
<% @customers.each do |customer| %>
 	<tr>
		<h5>
 			<td><%= customer.name %></td>
	 		<td><%= customer.kopis.count %></td>
			<td><%= link_to 'Show', customer_path(customer) %></td>
			<td><%= link_to 'Edit', edit_customer_path(customer) %></td>
			<td><%= link_to 'Delete', customer_path(customer),
			method: :delete,
			data: { confirm: 'Are you sure?' }
			%></td>
		</h5>
	</tr>
<% end %>
</tbody>
</table>