<h1>Customers Index Page </h1>
<%= link_to 'New customers', new_customer_path %>
<table>
  <tr>
    <th>Customer ID</th>
    <th>Customer Type </th>

  </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>


      <td><%= link_to 'Show', customer_path(customer) %></td><br />
      <td><%= link_to 'Edit', edit_customer_path(customer) %></td><br />
      <td><%= link_to 'Destroy', customer_path(customer),
        method: :delete,
        data: { confirm: 'This will delete the koffee. Are you sure?' } %></td><br />
    </tr>
  <% end %>
</table>