<h1> All Customers </h1>

<table class= "table">

    <th>Customer's Name</th>
    <th></th>


 <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= link_to 'Show', customer_path(customer) %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      <td><%= link_to 'Destroy', customer_path(customer),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
</table>


<%= link_to 'New Customer', new_customer_path %>
</br>

<%= link_to 'Back', customers_path %>