<p><%= link_to 'New customer', new_customer_path %></p>
<p><%= link_to 'Home Page', root_path %></p>

<h2> List of customers </h2>
<table>
  <tr>
    <th>Customer's name</th>
  </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= link_to 'Show', customer_path(customer) %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      <td><%= link_to 'Destroy', customer_path(customer),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>