<%= form_with scope: :customer, url: customers_path, local: true do |form| %>
    
    <%= f.collection_check_boxes :coffee_ids, @coffees, :id, :name %>
    <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    </p>
        
    <p>
    <%= form.submit%>
    </p>
<% end %>

<%= link_to 'Back', customers_path %>