<h3>New Customer</h3>

<%= form_with scope: :customer, url: customers_path, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <%= form.collection_check_boxes :kopi_ids, @kopis, :id, :name %>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', customers_path, class: "btn btn-dark" %>