
<h1>New Customer</h1>

<%= form_with scope: :customer, url: customers_path, local: true do |form| %>

	<div class="form-group">
		<%= form.label :name %><br>
		<%= form.text_field :name, class: "form-control" %>
	</div>

	<div style="clear: right;">
		<%= form.collection_check_boxes :kopi_ids, @kopis, :id, :name %>
	</div>

	<%= form.submit 'Confirm Changes', :class => "mb-3 btn btn-success" %>
<% end %>