<h1>Customers Show</h1>

<% if user_signed_in? %>
  <%= link_to 'Add new customer', new_customer_path %>
  <p><%= link_to 'log out', destroy_user_session_url, method: :delete %></p>
<% else %>
  <%= link_to 'log in', new_user_session_url %>
<% end %>

<br>

<h3><%= @customer.name %></h3>
<p>Id:   <%= @customer.id %></p>

<br>

<h3>Kopi Lists</h3>
<table>
  <tr>
    <th style="text-align: left">Id</th>
    <th style="text-align: left">Kopi Name</th>
  </tr>
  <% @customer.kopis.each do |kopi| %>
    <tr>
      <td style="width: 50px"><%= kopi.id %></td>
      <td style="width: 150px"><%= kopi.name %></td>
      <td><%= link_to 'Show', kopi_path(kopi) %></td>
    </tr>
  <% end %>
</table>

<br>
<br>
<br>
<ul>
  <li><%= link_to 'Origin', root_path %></p>
  <li><%= link_to 'Kopi', kopis_path %></p>
  <li><%= link_to 'Roast', roasts_path %></p>
  <li><%= link_to 'Customer', customers_path %></p>
</ul>
