<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Kopis he likes:</strong>
  <table>
    <tbody>
      <% @kopis.each do |kopi| %>
        <tr>
          <td><%= kopi.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
