<div class = 'container'>
<% if user_signed_in? %>
<h3>Welcome:<%= current_user.email %></h3>
<h2><%= @message %></h2>
 <% else%>
    
  <% end %>

<h1>Customer</h1>
<p>
  <strong>Name:</strong>
  <%= @customer.name%>
</p>


<p><strong>Kopis:</strong></p>
  	<ul>
        <table class="table table-hover">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Origin</th>
            <th scope="col">Roast</th>
            <th scope="col">Price</th>
            
            
          </tr>

          <% @kopis.each do |kopi| %>


            <tr>
                <td><%= kopi.name %></td>
                <td><%= kopi.farm.location %></td>
                <td><%= kopi.roast.name %></td>
                <td>$<%= kopi.price %></td>
                
            </tr>
          <% end %>
</table>






  	
 	</ul>

<%= link_to 'Back', kopis_path %>
</div>