<h1>Customers Show</h1>

<% if user_signed_in? %>
  <%= link_to 'Add new Customer', new_customer_path %>
  <p><%= link_to 'log out', destroy_user_session_url, method: :delete %></p>
<% else %>
  <%= link_to 'log in', new_user_session_url %>
<% end %>

<br>

<h3>Customers</h3>

<br>

<table>
  <tr>
    <th style="text-align: left">Id</th>
    <th style="text-align: left">Customer Name</th>
  </tr>


  <tr>
    <td style="width: 50px"> <%= @customer.id %></td>
    <td style="width: 300px"><%= @customer.name %></td>
  </tr>
</table>
<br>

<br>
<div>
  <p><%= link_to 'Back to Origin Index', root_path %></p>
  <p><%= link_to 'Back to Customer Index', customers_path %></p>
</div>
