<h1>Listing all Customers</h1>

<table>
  <tr>
    <th>Customer ID</th>
    <th>Name</th>
    <th>Phone number</th>
    <th>Cups</th>
    <th>Instructions</th>
  </tr>
<br>

<%= form_tag("/customers", method: "get") do %>
	<%= select_tag(:customer, options_for_select([['Name ascending', 1], ['Name descending', 2], ['Number of cups ascending', 3], ['Number of cups descending', 4]])) %>
	<%= submit_tag("Sort") %>
<% end %>

   <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.phone %></td>
      <td><% customer.cups.each do |cup| %>
      	<%= cup.name %>
      <% end %></td>
      <td><%= link_to 'Show', customer_path(customer) %>
    </tr>
  <% end %>
</table>
<%= link_to 'Home', root_path %>
<%= link_to 'New cup', new_cup_path %>
<%= link_to 'New customer', new_customer_path %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>
<%= link_to 'log in', new_user_session_url %>