<h1>Edit Order</h1>

<%= form_with scope: :order, model: @order, local: true do |form| %>
  <p>
    <%= form.label :weight %><br>
    <%= form.text_field :weight %>
  </p>

  <p>
  <%= form.collection_select :kopi_id, @kopis, :id, :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', orders_path, class: 'btn btn-success' %>