<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", kopis_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Roasts', roasts_path() %></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <h2>Orders</h2>
      <table class="table">
        <thead>
          <th>Order no.</th>
          <th>Kopi</th>
          <th>Weight</th>
          <th></th>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.id, order_path(order) %> </td>
            <td><%= order.kopi.name %> </td>
            <td><%= order.weight %> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <% if user_signed_in? %>
        <%= link_to "Add New Order", new_order_path, class:"btn btn-primary mb-3" %>
        <%= link_to 'Log Out', destroy_user_session_url, method: :delete, class:"btn btn-secondary mb-3" %>
      <% else%>
        <%= link_to 'Log In', new_user_session_url,class:"btn btn-secondary mb-3" %>
      <% end %>
    </div>
  </div>
</div>