<% total = 0 %>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Origin</th>
      <th scope="col">Roast</th>
      <th scope="col">Price</th>
      <th scope="col">Weight in pounds</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
<% @orders.each do |order| %>
  <tbody>
    <tr>
      <th scope="row"><%= order.id %></th>
      <td><%= order.kopi.name %></td>
      <td><%= order.kopi.origin.location %></td>
      <td><%= order.kopi.roast.name %></td>
      <td><%= order.kopi.price %></td>
      <td><%= order.weight %></td>
      <td><strong><%= order.kopi.price * order.weight %></strong></td>
    </tr>
  <% total += order.kopi.price * order.weight %>
<% end %>
</tbody>
</table>
<div>

Total: <strong><%= total %></strong>