<div class="container">

	<h1 class="display-4 text-center">All Orders</h1>

	<table class="table">
		<thead class="thead-dark">
		  <tr>
		    <th>Order #</th>
		    <th>Kopi</th>
		    <th>Amount Ordered</th>
		    <th>Total Price</th>
		    <th>User</th>
	      <% if current_user.try(:admin?) %>
		    	<th></th>
		    <% end %>
		  </tr>
	  </thead>

	  <% @order.each do |x| %>
	    <tr>
	      <td><%= x.id %></td>
	      <td><%= x.kopi.name %></td>
	      <td><%= x.weight %>kg</td>
	      <td>$<%= x.weight * x.kopi.price%></td>
	      <td><%= x.user.email %></td>
	      <% if current_user.try(:admin?) %>
	      	<td style="width: 20%"><%= link_to 'Show', order_path(x) %> | <%= link_to 'Delete', order_path(x),
	        method: :delete,
	        data: { confirm: 'Are you sure?' } %></td>
		    <% end %>
	    </tr>
	  <% end %>
	</table>


  <% if current_user.try(:admin?) %>

  <% end %>



	<% if user_signed_in? %>
		<%= link_to 'New Order', new_order_path, {:class => "btn btn-outline-primary"} %>
	<% end %>


</div>