<h1>Create New order page</h1>

<%= form_with scope: :order, url: orders_path, local: true do |form| %>

	<p>
		<%= form.label :weight %><br>
		<%= form.number_field :weight, step: 0.01 %>
	</p>


	<p><strong>Select your kopi</strong></p>
	<%= form.collection_select :kopi_id, @kopis, :id, :name %>

	<p>
		<%= form.submit %>
	</p>
<% end %>