<h1>Order id: <%= @order.id %></h1>

<p>Coffee name: <%= @order.kopi.name.capitalize() %></p>
<p>Coffee Origin: <%= @order.kopi.origin.location.capitalize() %> </p>
<p>Coffee Price per Kg: $<%= @order.kopi.price %> per kg</p>
<p>Order Weight: <%= @order.weight %> kg</p>
<p>Thus Total Price: <%= @order.total_price %> dollars</p>