<% puts "*********************" %>
<% puts @order.inspect %>
<% puts @order.kopi.inspect %>
<h1>Order <%= @order.id %></h1>
<p>Coffee: <%= @order.kopi.name %>
  <p>Price per pound: <%= @order.kopi.price %>
    <p>Weight ordered: <%= @order.weight %> pounds
      <p>Price: $<%= @order.kopi.price * @order.weight %></p>
      <%= link_to 'Home', root_path %>
