<h1>Listing all Cups</h1>

<table>
  <tr>
    <th>Cup ID</th>
    <th>Name</th>
    <th>Roast</th>
    <th>Orign ID</th>
  </tr>
<br>

    <% @cups.each do |cup| %>
    <tr>
      <td><%= cup.id %></td>
      <td><%= cup.name %></td>
      <td><%= cup.roast %></td>
      <td><%= cup.orign_id %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New cup', new_cup_path %>
<%= link_to 'New orign', new_orign_path %>