<h1>Edit order</h1>

<%= form_with scope: :order, model: @order, local: true do |form| %>

  <%= form.collection_select :kopi_id, @kopis, :id, :name %>



  <p>
    <%= form.label :pound %><br>
    <%= form.text_area :pound %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', root_path %>