<h1>order index</h1>

<% if user_signed_in? %>
<%= link_to 'New Order', new_order_path %>
<% else %>
<p>not logged in</p>
<% end %>

<% if user_signed_in? and current_user.admin? %>
<p>ADMIN</p>
<% else %>
<p>Not admin</p>
<% end %>

<ul>
	<%= @orders.each do |order| %>
		<li>
			<p><%= order.weight %></p>
		</li>
		<li>
			<p><%= order.kopi.name %></p>
		</li>
		<li>
			<p><%= order.user.email %></p>
		</li>
		<%= link_to 'Show', order_path(order) %>
	<% end %>
</ul>

<%= link_to 'Back', root_path %>
<% if user_signed_in? %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>
<% else %>
<%= link_to 'sign in', new_user_registration_path %>
<% end %>