<p>
  <strong>Order</strong>

</p>

<p>Name of product: <%= @kopi.name %></p>

<p>
  <strong>Pound Order:</strong>
  <%= @order.pound %>
</p>




<p>Price per pound: $<%= @kopi.price %></p>

<p>Total Price: $<%= @kopi.price * @order.pound %></p>

<%= link_to 'Back', root_path %>