<h1>kopi index</h1>
<%= link_to 'New Kopi', new_kopi_path %>
<%= link_to 'Orders', orders_path %>

<ul>
	<%= @kopis.each do |kopi| %>
		<li>
			<p><%= kopi.name %></p>
			<p><%= kopi.roast.name %></p>
			<p><%= kopi.origin.location %></p>
			<p><%= kopi.price %></p>
		</li>
		<%= link_to 'Show', kopi_path(kopi) %>
		<% if user_signed_in? %>
			<%= link_to 'Edit', edit_kopi_path(kopi) %>
		<% end %>

	<% end %>
</ul>
<% if user_signed_in? %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>
<% end %>