<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>

  <%= form.collection_select :farm_id, @farms, :id, :location %>

    <%= form.collection_select :roast_id, @roasts, :id, :roast_name %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>



   <p>
    <%= form.label :origin %><br>
    <%= form.text_area :origin %>
  </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>