<h1>show kopi</h1>


<p>
  <strong>Name:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @kopi.origin.location %>
</p>

<p>
  <strong>Price per 100g:</strong>
  <%= @kopi.price %>
</p>

<%= link_to 'Back', root_path %>