<h1>Edit <%= @roast.roast_type%> </h1>
<%= form_with scope: :roast, model: @roast, local: true do |form| %>

  <p>
    <%= form.label :Roast_Name %><br>
    <%= form.text_field :roast_type %>
  </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>