<h1>Edit Roast Form</h1>
<%= form_for :roast, url: roasts_path(@roast), method: :patch do |form| %>

      <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </p>

      <p>
        <%= form.submit %>
      </p>
<% end %>

<%= link_to 'Back', roasts_path %>