<h1><%= @roast.name %></h1>
<% if current_user.is_admin %>
  <% puts @roast.inspect %>
  <%= form_with scope: :roast, model: @roast, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  <%= link_to 'Back', root_path %>
<% end %>
