<h1>Edit Roast</h1>

<%= form_with scope: :roast, model: @roast, local: true do |form| %>

    <p>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>

<%= link_to 'Back', roasts_path %>