<% if user_signed_in? %>
<h3><%= current_user.email %></h3>
  <%= link_to 'log out', destroy_user_session_url, method: :delete %>
<% else %>
  <%= link_to 'log in', new_user_session_url %>
<% end %>



<h1>Edit kopi</h1>

<%= form_with scope: :roast, model: @roast, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', root_path %>
