<h1>Edit roast</h1>

<%= form_with(model: @roast, local: true) do |form| %>



  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>


  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', roasts_path %>