<h1>Roasts</h1>

<table class="table">
	<thead>
	  <tr>
	    <th></th>
	    <th>Name</th>
	    <th>Kopis</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<% if current_user.try(:admin?) %>
	  <%= link_to 'New Roast', new_roast_path, class: "btn btn-info" %>
	<% end %>
	<tbody>
		<% @roasts.each do |roast| %>
	  <tr>
	    <td><%= roast.id %></td>
	    <td><%= roast.name %></td>
	    <td><%= link_to 'Kopis', roast_kopis_path(roast) %></td>
			<td><%= link_to 'Show', roast_path(roast), class: "btn btn-success" %></td>
			<% if current_user.try(:admin?) %>
	    	<td><%= link_to 'Edit', edit_roast_path(roast), class: "btn btn-warning" %></td>
	    	<td><%= link_to 'Destroy', roast_path(roast), class: "btn btn-danger",
	      	method: :delete,
	      	data: { confirm: 'Are you sure?' } %></td>
	    <% end %>
		</tr>
		<% end %>
	</tbody>
</table>