<h2>Roasts Index</h2>
<div class="add-item">
  <% if user_signed_in? %>
    <p><%= link_to '+ Add Item', new_roast_path, class: "btn btn-outline-primary add-item"  %></p>
  <% end %>
</div>

<table  class="table table-sm table-hover">
  <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Roast</th>
        <th scope="col"></th>
      <% if user_signed_in? %>
        <th scope="col"></th>
        <th scope="col"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @roasts.each do |roast| %>
      <tr>
          <td><%= roast.id %></td>
          <td><%= roast.roast %></td>
          <td><%= link_to 'Show', roast_path(roast) %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_roast_path(roast) %></td>
          <td><%= link_to 'Delete', roast_path(roast),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>