<h1>Listing of Roasts</h1>

<table>
	<tr>
		<th>Name</th>
	</tr>

	<% @roast.each do |roast| %>
		<tr>
			<td><%= roast.name %></td>
			
			<td><%= link_to 'Show', roast_path(roast) %></td>
			<% if current_user.admin? %>
			<td><%= link_to 'Edit', edit__path(roast) %></td>
			<td><%= link_to 'Destroy', roast_path(roast),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
				<%= link_to 'New Roast', new_roast_path %>
				<% end %>
		</tr>
		


	<% end %>
</table>


