<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", kopis_path %></li>
          <li class="breadcrumb-item" aria-current="page"><%= link_to 'Roasts', roasts_path() %></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Add Roast</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
  <h2>Add Roast</h2>

  <%= form_with scope: :roast, url: roasts_path, local: true do |form| %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <%= form.text_field :name, class:"form-control" %>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Roastedness Level</span>
      </div>
      <%= form.number_field :roastedness, class:"form-control" %>
    </div>
    <%= form.submit :class=>'btn btn-primary' %>
  <% end %>