<h1>New Roast</h1>

<% if current_user.try(:admin?) %>
    <%= form_with scope: :roast, url: roasts_path, local: true do |form| %>

        <p>
            <%= form.label :name %>
            <%= form.text_field :name %>
        </p>

        <p>
            <%= form.submit %>
        </p>
    <% end %>
<% else %>
    <h3>You are unauthorized to view this page.</h3>
<% end %>

<%= link_to 'Back', roasts_path %>