<h1>Roast info:</h1>
<p>Name:
	<%=  @roast.name %>
</p>

<h3>Kopis with this roast:</h3>
	<%  @kopi.roast.each do |kopi| %>
		<p>
			<%= kopi.name%>
		</p>
	<% end %>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'New Roast', new_roast_path %>
<%= link_to 'Edit', edit_roast_path(@roast) %> |
<% end %>

<%= link_to 'Back', root_path %>