<br>
<header>
	<% if user_signed_in? %>
		<p>Welcome <strong><%= current_user.email %></strong>!
			<%= link_to 'Log out', destroy_user_session_url, method: :delete %>
		</p>
	<% else %>
		<p>Existing user? <%= link_to 'Log in', new_user_session_url %></p>
	<% end %>
</header>

<h2>Kopis</h2>
<br>
<% if user_signed_in? %>
	<%= link_to 'New Kopi', new_kopi_path, :class => "btn btn-primary" %>
	<%= link_to 'Customers', customers_path, :class => "btn btn-info" %>
	<%= link_to 'My Orders', orders_path, :class => "btn btn-success" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Roast</th>
      <th scope="col">Origin</th>
      <th scope="col">Price/ lb</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  	<% @kopis.each do |kopi| %>
	    <tr>
	      <td><%= link_to kopi.name, kopi_path(kopi) %></td>
	      <td><%= kopi.roast.kind %></td>
	      <td><%= kopi.origin.location %></td>
	      <td>$<%= kopi.price %></td>
	      <td><%= link_to 'Edit', edit_kopi_path(kopi), :class => "btn btn-warning" %></td>
	      <td><%= link_to 'Delete', kopi_path(kopi), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
	    </tr>
	   <% end %>
  </tbody>
 </table>