<h2>New Kopi</h2>
<br>
<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :roast %><br>
    <%= form.collection_select :roast_id, Roast.order(:id, :kind),:id,:kind, include_blank: true %>
  </p>

  <p>
    <%= form.label :origin %><br>
    <%= form.collection_select :origin_id, Origin.order(:id, :location),:id,:location, include_blank: true %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </p>
	<br>
  <p>
    <%= form.submit :class => "btn btn-primary" %>
  </p>
<% end %>