<br>
<h2><%= @kopi.name %></h2>

<table class="table">
	<thead>
    <tr>
      <th scope="col">Kopi</th>
      <th scope="col">Roast</th>
      <th scope="col">Origin</th>
      <th scope="col">Price/ lb</th>
      <th scope="col">Customers</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
    	<td><%= @kopi.name %></td>
    	<td><%= @kopi.roast.kind %></td>
    	<td><%= @kopi.origin.location %></td>
    	<td>$<%= @kopi.price %></td>
    	<td>
    		<ul>
	    		<% @kopi.customers.each do |customer| %>
	    			<li><%= customer.name %></li>
	    		<% end %>
	    	</ul>
    	</td>
  	</tr>
  </tbody>
</table>
<br>
<p>
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_kopi_path(@kopi), :class => "btn btn-warning" %>
		<%= link_to 'Delete', kopi_path(@kopi), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
	<% end %>
	<%= link_to 'Back', kopis_path, :class => "btn btn-secondary" %>
</p>