<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="jumbotron">
<h1>Welcome to Kopi Tracker.</h1>

<%= link_to 'New Farm', new_kopi_farm_path, :class => 'btn btn-success mb-3'%>

<h2>Kopi Farms</h2>

<table class="table">
	<tr>
            <th scope="col">#</th>

		<th scope="col">Location</th>
		<th scope="col">Phone Number</th>
                        <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>


	</tr>
	<% @kopi_farms.each do |farm| %>
		<tr>
                        <td> <%= farm.id%> </td>

            <td> <%= link_to farm.location, kopi_farm_path(farm) %> </td>
            <td> <%= farm.phone_num%> </td>
	      <td> <%= link_to 'Edit', edit_kopi_farm_path(farm) %> </td>
            <td> <%= link_to 'Delete', kopi_farm_path(farm), method: :destroy, data: {confirm: 'Sure you wanna delete?'} %> </td>

            </tr>
      <% end %>      
</table>

</div>