
<h3> Farm Location: <%= @kopi_farm.location %></h3>
<p> Contact: <%= @kopi_farm.phone_num %></p>
<%= link_to "Previous", kopi_farm_path(@kopi_farm.id-1), :class => "btn btn-outline-dark" if @kopi_farm.id!=1 %>
<%= link_to "Next", kopi_farm_path(@kopi_farm.id+1), :class => "btn btn-outline-dark" if @kopi_farm.id!=KopiFarm.count %>

<table class="table">
	<tr>
		<th scope="col">Kopi Name</th>
		<th scope="col">Roast Level</th>
	</tr>
      
      <% @kopis.each do |kopi| %>
      <tr>
            <td> <%= link_to kopi.name, kopi_path %> </td>
            <td> <%= kopi.roast.name %> </td>
      </tr>
      <% end %>  
      <tr>
</table>
<%= link_to "Edit Farm", edit_kopi_farm_path(@kopi_farm), :class => 'btn mb-3 btn-warning' %>
<br/><%= link_to 'Back to All Farms', all_kopi_farms_path, :class => "btn btn-primary" %>
