


<div class="row">
	<div class= "col-12 border text-center mt-5">

		<h1>Hello Customer page</h1>

	</div>

</div>


<div class="row">
	<div class= "col-4 border text-center">

		<%= link_to 'log in', new_customer_session_url %>

	</div>
		<div class= "col-4 border text-center">

		<%= link_to 'log out', destroy_customer_session_url, method: :delete %>

	</div>
		<div class= "col-4 border text-center">

		<%= link_to 'Return to Home', root_path %>

	</div>

</div>


<div class="row">
	<div class= "col-6 border text-center">

		  <%= link_to 'Sort By Kopi held Ascending', customers_path(type: "kopiCount", sequence: "asc") %>

	</div>
		<div class= "col-6 border text-center">
		  <%= link_to 'Sort By Kopi held Descending', customers_path(type: "kopiCount", sequence: "desc") %>

	</div>


</div>


<% @customers.each_with_index do |customer, index| %>
	<div class="row border">
		<div class = "col-3 my-auto">
	<p>Customer Name: <%= customer.customerName %></p>

		</div>
		<div class = "col-3 pt-3 pb-3">
	<% customer.kopis.each do |kopi| %>
	<p>Kopi name: <%= kopi.name %></p>
<% end %>
</div>
  <div class="col-2 pt-1 my-auto">
      <p><%= link_to 'Show', customer_path(customer) %></p>
	</div>
 <% if customer_signed_in? %>
	  <div class="col-2 pt-1 my-auto">
      <p><%= link_to 'Edit', edit_customer_path(customer) %></p>
	</div>

	  <div class="col-2 pt-1 my-auto">
      <p><%= link_to 'Destroy', customer_path(customer),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></p>
	</div>
	<% end %>
	</div>
<% end %>