<h1>Kopi Data</h1>


<h2>Farms</h2>
  <% @farms.each do |farm| %>

      <p><%= farm.location %></p>
      <p><%= link_to 'Show', farm_path(farm) %></p>
  <% end %>


<h2>Kopi</h2>
  <% @kopis.each do |kopi| %>

      <p><%= kopi.name %></p>
      <p><%= link_to 'Show', kopi_path(kopi) %></p>
  <% end %>

<h2>Roast</h2>
  <% @roasts.each do |roast| %>

      <p><%= roast.roast_name %></p>
      <p><%= link_to 'Show', roast_path(roast) %></p>
  <% end %>


  <h2>Order</h2>
  <% @orders.each do |order| %>

      <p>Order: <%= order.id %></p>
      <p><%= link_to 'Show', order_path(order) %></p>
  <% end %>





<p>
  <%= link_to 'New farm', new_farm_path %>
</p>
<p>
  <%= link_to 'New kopi', new_kopi_path %>
</p>
<p>
  <%= link_to 'New order', new_order_path %>
</p>

<p>
  <%= link_to 'Report', reports_path %>
</p>