<%= form_with scope: :kopi, url: kopis_path, local: true do |form| %>

  <%= form.collection_select :farm_id, @farms, :id, :location %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

    <p>
    <%= form.label :roast %><br>
    <%= form.text_area :roast %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>