<h1>All Origins</h1>

<table>
	<tr>
		<th>Location</th>
		<th>Phone Number</th>
		<th></th>

	</tr>

	<% @origin.each do |x| %>
		<tr>
			<td><%= x.location %></td>
			<td><%= x.phone_number %></td>
			<td><%= link_to 'Show', origin_path(x) %></td>
			<td><%= link_to 'Edit', edit_origin_path(x) %></td>
			<td><%= link_to 'Destroy', origin_path(x),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>


<%= link_to 'New origin', new_origin_path %>