<h2>Report for <%= @origin.name %></h2>

<p>Number of orders: <%= @total_orders %></p>
<p>Total sales: $<%= @total_sales %></p>

<h4>Orders</h4>
<ul>
  <% @orders.each do |order| %>
    <li><%= link_to order.id, order_path(order) %></li>
  <% end %>
</ul>

<%= link_to 'Back to Reports', reports_path %>
