<!DOCTYPE html>
<html>
  <head>
    <title>KopiTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<div class="jumbotron">
  <h1 class="display-4">Kopi Opi</h1>
  <p class="lead">Get your finest and freshest coffee here!</p>
  <hr class="my-4">
  <p>Yes, even coffee that is shit out of civet cats! </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
    <%= yield %>
  </body>
</html>
