<!DOCTYPE html>
<html>
  <head>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>KopiTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">Kopi<span class="text-secondary">Tiam</span></box-icon></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li>
		      	<a class="nav-item nav-link active" href="/">All Kopi Origins<box-icon name='globe' class="align-bottom"></box-icon></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/kopis">All Kopis <box-icon name='coffee' class="align-bottom"></box-icon></a>
		      </li>
		      <% if current_user.try(:admin?) %>
			      <li class="nav-item active">
			        <a class="nav-link" href="/roasts">All Roasts <box-icon name='flame' type="solid" class="align-bottom"></box-icon></a>
			      </li>
			    <% end %>
					<% if user_signed_in? %>
						<li class="nav-item active">
							<a class="nav-link" href="/orders">Order Kopi <box-icon name='file' class="align-bottom"></box-icon></a>
						</li>
					<% end %>
		    </ul>
				<% if user_signed_in? == false %>
					<%= button_to 'Log In', new_user_session_url, {:class => "btn btn-outline-primary btn-block"} %>
				<% end %>
				<% if user_signed_in? %>
					<%= button_to 'Log Out', destroy_user_session_url, {method: :delete, :class => "btn btn-outline-dark btn-block"}%>
				<% end %>
		  </div>
		</nav>



    <%= yield %>



		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
  </body>
</html>