<!DOCTYPE html>
<html>
  <head>
    <title>Kopi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kopis">Kopis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/origins">Origins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/roasts">Roasts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/customers">Customers</a>
      </li>
    </ul>
</nav>


    <div class="container col">
    <%= yield %>
    </div>
  </body>
</html>
