<!DOCTYPE html>
<html>
  <head>
    <title>Kopitracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/">All Kopis List</a>|<a href="/kopis/new">New Kopi Form</a>|<a href="/kopis/roasts">List Roast -- Kopis</a>|<a href="/kopis/farms">List Farms -- Kopis</a>|<a href="/orders/new">New Order</a>

    <%= yield %>
  </body>
</html>
