<!DOCTYPE html>
<html>
  <head>
    <title>KopiTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Kopi Tracker</a>
      <% if user_signed_in? %>
        <a class="navbar-brand" href="#">Welcome <%= current_user.email %></a>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item bg-dark">
            <%= link_to "Home", home_path, :class => "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-sm-2">
          <li class="nav-item">
            <%= link_to "Add Kopi", new_kopi_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add Origin", new_origin_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add Roast", new_roast_path, :class => "nav-link" %>
          </li>
          <% if user_signed_in? %>
          <li>
            <%= link_to 'log out', destroy_user_session_url, method: :delete, :class => "nav-link" %>
          </li>
          <% else %>
            <li>
              <%= link_to 'log in', new_user_session_url, :class => "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
