<!DOCTYPE html>
<html>
  <head>
    <title>KopiTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'kopis', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

	<!-- <%= render "header" %> -->
	<!-- Use this to toggle signed in header on/off -->

  <body>
    <%= yield %>
  </body>
</html>